.icon__raiting {
  width: 260px;
  height: 103px;
}

 .icon__footer-age {
   width: 55px;
   height: 55px;
   margin-right: 20px;
   padding: 8px 5px;

   @media screen and(min-width:768px) {
     width: 55px;
     height: 55px;
     margin-right: 20px;
     padding: 0px;
   }

   @media screen and(min-width:1200px) {
     width: 55px;
     height: 55px;
     margin-right: 20px;
     padding: 0px;
   }

   @media screen and(min-width:1900px) {
     width: 55px;
     height: 55px;
     margin-right: 20px;
     padding: 0px;
   }
 }

 .theman {
  height: 560px;
  width: 575px;
  margin-top: 160px;
  // margin-left: -300px;
 }